<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Welcome to Overwatch Coaching</h1>
        <a href="/videos/add">Add videos</a>
        <a href="/categories/add">Add Categories</a>
        <div>
            <% videos.forEach(video => { %>
                <div>
                    <iframe src="<%= video.video_link %>" frameborder="0"></iframe>
                    <p><%= video.title %></p>
                </div>
            <% }) %>
        </div>
    </body>
</html>
