<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application</title>
    </head>
    <body>
        <h1>Welcome to Overwatch Coaching</h1>
        <a href="/videos/add">Add videos</a>
        <a href="/categories/">Manage Categories</a>
        <a href="/">Back</a>
        <div>
           <iframe width="500px" src="<%= data.video_link %>" frameborder="0"></iframe>
           <h1><%= data.title %></h1>
           <h2><%= data.description %></h2>
           <div>
                <a href="/videos/edit/<%= data.id %>"><button>Edit</button></a>
               <button>Delete</button>

           </div>
        </div>
    </body>
</html>
