<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <form action="/categories/create" method="post">
        <label for="category">Category: </label>
        <input name="category" type="text">
        <button>Add Category</button>
    </form>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <span><%= category.category_name %></span>
                <div class="buttons">
                    <a href="/categories/edit/<%= category.id %>"><button class="edit">Edit</button></a>
                    <form action="/categories/delete/<%= category.id %>" method="post">
                        <button class="delete">Delete</button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</body>
</html>
